<% if curation_concern.generic_files.present? %>
  <h2>Files</h2>


<div class="row clearfix <%= dom_class(curation_concern) %> related_files">
  <div class="span 12">
<%=render 'modal_help_dialog', modal_text: I18n.t('sufia.work.input_field.actions.help'), modal_id: 'rollbackHelp', modal_title: 'Help' %>
  <% curation_concern.generic_files.each_with_index do |generic_file, index| %>
  <div class="row break-word <%= dom_class(generic_file) %> attributes">
    <div class="span2">
      <% if index == 0 %>
      <p class="related-files-heading hidden-phone">File</p>
      <% end %>
      <div class="attribute title">
        <%= render partial: 'thumbnail', locals: {thumbnail: generic_file, dom_class_name: 'thumbnail'} %>
        <%= generic_file_title(generic_file) %>
      </div>
    </div>

    <div class="span2">
      <% if index == 0 %>
      <p class="related-files-heading hidden-phone">Filename</p>
      <% end %>
      <div class="attribute filename">
        <%= link_to(generic_file_link_name(generic_file), curation_concern_generic_file_path(generic_file)) %>
      </div>
    </div>  
    <div class="span2">
      <% if index == 0 %>
      <p class="related-files-heading hidden-phone">Date Uploaded</p>
      <% end %>
      <div class="attribute date_uploaded">
        <%= generic_file.date_uploaded %>
      </div>
    </div>
    
    <div class="span2">
      <% if index == 0 %>
      <p class="related-files-heading hidden-phone">Visibility</p>
      <% end %>
      <div class="attribute permission"><%= permission_badge_for(generic_file) %></div>
      <br>
    </div>
    <!-- actions bar start -->
    <div class="span4">
      <% if index == 0 %>
      <p class="related-files-heading hidden-phone">Actions <%= link_to '?', '#', data: { toggle: "modal", target: "#rollbackHelp" } %></p>
      <% end %> 
      <%- if with_actions -%>
              <%- if can?(:edit, generic_file) -%>
                <%= link_to(
                  'Edit',
                  edit_polymorphic_path([:curation_concern, generic_file]),
                  { class: 'btn', title: "Edit #{generic_file}" }
                ) %>
              <%- end -%><!-- endif -->
              <%- if can?(:edit, generic_file) -%>
                <%= link_to(
                  'Rollback',
                  versions_curation_concern_generic_file_path(generic_file),
                  { class: 'btn', title: "Rollback to previous version" }
                ) %>
              <%- end -%><!-- endif -->
              <%- if can?(:destroy, generic_file) -%>
                <%= link_to(
                  'Delete',
                  polymorphic_path([:curation_concern, generic_file]),
                  class: 'btn', method: :delete, title: "Delete #{generic_file.to_s.inspect}",
                  data: {confirm: "Deleting #{generic_file.to_s.inspect} from #{t('sufia.product_name')} is permanent. Click OK to delete this from #{t('sufia.product_name')}, or Cancel to cancel this operation"}
                )%>
              <%- end -%><!-- endif -->
    <%- end -%><!-- end actions if -->
            <!-- 3221225472 is the amount of bytes in 3gb. If we can download larger files in the future, this number
                  should be changed -->
            <%- if can?(:read, generic_file) -%>
              <%- if generic_file.file_size.first.to_i < 3221225472 -%>
                <%= link_to 'Download', download_path(generic_file.noid),{class: 'btn', title: "Download #{generic_file.to_s.inspect}", :target => "_blank"}%>
              <%- else -%>
                <%= link_to 'Request', new_file_request_path(pid: generic_file.noid) ,{class: 'btn', title: "Request #{generic_file.to_s.inspect}", :target => "_blank"}%>
              <%- end -%>
            <%- end -%>
    </div>
    <!-- actions bar ends -->
</div>
<hr>
  <% end %>
</div><!-- end span 12 before nested row -->
</div><!-- end main row -->
<% elsif can? :edit, curation_concern %>
  <h2>Files</h2>
  <p class="center"><em>This <%= curation_concern.human_readable_type %> has no files associated with it. You can add one using the "Attach a File" button below.</em></p>
<% end %>

<% curation_concern.generic_files.each_with_index do |generic_file, index| %>
  <% if generic_file.filename[".pdf"] && index == 0 %>
    <%= link_to 'Download Adobe Acrobat Reader', 'https://get.adobe.com/reader/otherversions/', :target => "_blank"%>
  <% end %>
<% end %><!-- end main if -->
